<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png">   
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>

    <div class="mainContent">

      {{>header}}
    <img class="headerImg" src="/img/Eezb9SSU8AAnSEC.jpg" >
    <p>This site was create by Armando Albornoz. It uses data from two API's</p>
    </div>
    
    
    {{>footer}}
  </body>
</html>